body {
  background-color: #ceaf94;
  font-family: "Arial", sans-serif;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 800px;
}

h1 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #000000;
}

.input-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}

#task-input {
  width: 60%;
}

#quantity-input {
  width: 20%;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #1f5caa;
  color: white;
  cursor: pointer;
  min-width: 120px;
}

.list-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 20px;
}

.todo-box,
.done-box {
  text-align: left;
  width: 100%;
}

h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #000000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  color: #000000;
}

.done-button,
.delete-button {
  font-size: 16px;
  cursor: pointer;
  width: auto;
  height: auto;
  border-radius: 50%;
  background-color: transparent;
  color: #1f5caa;
  border: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.done-button i,
.delete-button i {
  font-size: 20px;
}

li .task-name {
  flex-grow: 1;
}

.done-box li {
  text-decoration: line-through;
  opacity: 0.7;
}

/* MOBIL */

@media (max-width: 600px) {
  .input-container {
    flex-direction: column;
    gap: 10px;
  }

  input {
    width: 100%;
  }

  .list-container {
    flex-direction: column;
    gap: 20px;
  }
}
